[submodule "Software/2015/electron-interface"]
	path = Software/2015/electron-interface
	url = https://github.com/OpenAFM/electron-interface.git
[submodule "Software/2016/OpenAFM_gui"]
	path = Software/2016/OpenAFM_gui
	url = https://github.com/OpenAFM/OpenAFM_gui.git
[submodule "Firmware/2015/firmware"]
	path = Firmware/2015/firmware
	url = https://github.com/OpenAFM/firmware.git
[submodule "Firmware/2016"]
	path = Firmware/2016
	url = https://github.com/memresener/firmware.git

[submodule "Firmware/2016/firmware"]
	path = Firmware/2016/firmware
	url = https://github.com/memresener/firmware.git
	branch = firmware_adc_dactest
[submodule "Electronics/2016/Templates"]
	path = Electronics/2016/Templates
	url = https://github.com/ollie1400/openAFMCircuits.git
[submodule "Electronics/2016/Voice_coil"]
	path = Electronics/2016/Voice_coil
	url = https://github.com/ollie1400/openAFMCircuits.git
	branch = Voice_coil
[submodule "Electronics/2016/Input_board"]
	path = Electronics/2016/Input_board
	url = https://github.com/ollie1400/openAFMCircuits.git
	branch = Input_board
[submodule "Electronics/2016/Main_board"]
	path = Electronics/2016/Main_board
	url = https://github.com/ollie1400/openAFMCircuits.git
	branch = Main_board
[submodule "Electronics/2016/Piezo_board"]
	path = Electronics/2016/Piezo_board
	url = https://github.com/ollie1400/openAFMCircuits.git
	branch = Piezo_board
[submodule "Electronics/2016_Circuits"]
	path = Electronics/2016/Piezo_board
	url = https://github.com/ollie1400/openAFMCircuits.git
	branch = master
